body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#cm{
 font-size: 1cm;
}
#mm{
  font-size: 1mm;  
}
#in{
    font-size: 1in;
}
#px{
    font-size: 1px;
}
#pt{
    font-size: 1pt;
}
#pc{
    font-size: 1pc;
}
#em {
    font-size: 1em;
}

#rem {
    font-size: 1rem;
}

#ex {
    font-size: 1ex;
}

#ch {
    font-size: 1ch;
}

#vw {
    width: 10vw;
}

#vh {
    height: 10vh;
}

#vmin {
    width: 10vmin;
    height: 10vmin;
}

#vmax {
    width: 10vmax;
    height: 10vmax;
}
